.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-radius: 16px 16px 0px 0px;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 1.2em;
  text-shadow: 0px 0px 4px black;
}

.temperature {
  color: var(--white);
  text-align: center;
  text-shadow: 0px 0px 4px black;
  font-size: 4em;
}
